
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}
html body {
    
    height: 100vh;
    color: hsl(272, 100%, 97%);
    font-family: 'Rubik', sans-serif;

    
}
.big-box {
    display: grid;
    grid-template-columns: 600px 600px;
}
.box-1 {
    height: 650px;
    width: 350px;
    border: none;
    background-color: hsl(276, 57%, 56%);
    border-radius: 0 0 200px 200px;
    position: relative;
}
.box-2 {
    position: absolute;
    width: 250px;
    height: 500px;
    border: 10px whitesmoke solid;
    border-radius: 15px;
    top: 130px;
    left: 300px;
    background-color: white;
    font-size: 0.6rem;
}
.user {
    position: relative;
    width: 230px;
    height: 70px;
    border: 1px solid white;
    border-top-width: 0px;
    border-radius: 12px 10px 5px 5px;
    background-image: linear-gradient(to right, rgb(117, 8, 206), violet);
    display: inline-block;
}
.user:before {
    content: '';
    display: block;
    width: 80px;
    height: 20px;
    position: absolute;
    margin-top: 0;
    top: -7px;
    left: 30%;
    background: white;
    border-radius: 8px;
}
.fa-chevron-left{
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 20px;
    float: left;
}
.fa-ellipsis-v{
    float: right;
    margin-top: -17px;
    margin-right: 15%;
} 
.fa-chevron-circle-right {
  float: right;
  margin-top: -21px;
  margin-right: 13%;
} 
.user > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    margin-left: 3%;
    margin-top: 23px;
}
.user h4{
margin-top: 25px;

}

.sm {
    display: inline-block;
    color: rgb(80, 24, 80);
    padding: 0 0 0 20px;
    margin-top: 5px;
    padding-right: 0;
    width: 70%;
    
}
.d1 {
    border: none;
    border-radius: 10px;
    background-color: hsl(264, 29%, 86%);
    text-align:left ;
    padding: 5px 5px 10px 5px;
}
.d2 {
    border: none;
    border-radius: 10px;
    background-color: hsl(264, 29%, 86%);
    text-align: left;
    padding: 5px 5px 10px 5px;
    margin-top: 5px;
}

.box-3 {
    display: block;
    float: right;
    color: black;
    padding: 0 0 0 10px;
    margin-top: 5px;
    padding-right: 0;
    width: 70%;
    
}
.dogs >img {
    width: 40px;
    height: 40px;
    border-radius: 30%;  
}
.d3 {
    border: none;
    border-radius: 10px;
    background-color: hsl(270, 100%, 95%);
    text-align: left;
    padding: 5px 5px 10px 5px;
    margin-top: 5px;
}
.d4{
    border: none;
    border-radius: 10px;
    background-color: hsl(270, 100%, 95%);
    text-align: left;
    padding: 5px 5px 10px 5px;
    margin-top: 5px;
}
.box-4 {
    display: inline-block;
    color: rgb(80, 24, 80);
    padding: 0 0 0 10px;
    margin-top: 5px;
    padding-right: 0;
    width: 75%;
    

}
.d5 {
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right,violet, rgb(117, 8, 206));
    text-align: center;
    padding: 5px 5px 10px 5px;
    margin-top: 5px;
    font-size: 0.8rem;
}
    .d5>p>strong {
        float: right;
    }
.box-5 {
    display: inline-block;
    color: black;
    padding: 0 0 0 10px;
    width: 90%;
    
}
.type {
    border: none;
    border-radius: 10px;
    background-color: hsl(270, 100%, 95%);
    text-align: left;
    padding: 10px 10px 15px 10px;
    margin-top: 20px;
    font-size: 0.5rem;
}
.text {
    display: flex;
    flex-direction: column;
    color: hsl(270, 7%, 64%);
    padding-left: 90px;
    margin-right: 70px;
    margin-top: 200px;
    font-size: 0.9rem;
    
}
.text h1{
    padding: 10px;
    color: hsl(271, 36%, 24%);
}
.text p  {
    line-height: 1.5rem;
}
.attribution { font-size: 13px; 
    text-align: right; 
    color: violet;
    padding: 10px;
}
.attribution a { 
  text-decoration: none;
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 800px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        max-width: 100%;
    }
       .big-box {
        width: 400;
        height: 650;
        display: block;
    }
    .box-1 {
        height: 450px;
        width: 150px;
        border-radius: 0 0 150px 0px;
    }
   .box-2 {
        position: absolute;
        width: 250px;
        height: 450px;
        border: 10px whitesmoke solid;
        border-radius: 15px;
        top: 80px;
        left: 90px;
        background-color: white;
        font-size: 0.6rem;
    }
   .d1 {
        padding: 5px;
    }
   .d2 {
        padding: 5px;
    }
  .d3 {
        padding: 5px;
    }
  .d4{
        padding: 5px;
    }
    .d5{
        padding: 5px;
    }
    .type{
        padding: 10px;
    }
    .text {
        color: hsl(270, 7%, 64%);
        margin-left: 15px ;
        padding:5px 0px 0px 0px ;
        font-size: 0.8rem;
    } 
    .text p  {
        margin-right: 5px;
        line-height: 1rem;
    }
    .attribution { font-size: 13px; 
        text-align: center;
        
       
    }
} 